<div class="sidebar">
    <table class="table">
        <tbody>
            <tr *ngFor="let sub of subjects">

                <td style="text-align: center;"><button class="btn btn-primary" style="width: 150px;"
                        (click)="displayPaper(sub.SubId)">{{sub.SubName}}</button>
            <tr>

            </tr>
        </tbody>
    </table>
</div>
<div class="sidenav-content" *ngIf="this.showPaper">
    <div style="opacity: 1; transition: all 200ms ease-in-out 0s;">
        <div class="content">
            <table class="table">

                <tbody *ngFor="let ques of questions;index as i">
                    <ng-container >

                        <tr>
                            <td colspan="4" scope="row">{{i+1}}) {{ques.Question}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td scope="row">A] {{ques.Opt1}}</td>
                            <td>B] {{ques.Opt2}}</td>
                            <td>C] {{ques.Opt3}}</td>
                            <td>D] {{ques.Opt4}}</td>
                        </tr>
                        </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>