.container {
    position: relative;
    max-width: 100%; /* Maximum width */
    margin: 0 auto; /* Center it */
  }
  
  .container .content {
    position: absolute; /* Position the background text */
    /*bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    top: 100px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 97%; /* Full width */
    padding: 20px; /* Some padding */
  }

  .bg-abt
  {
      background-image: url("/assets/images/pen1.jpg");
      background-size: cover;
      min-height: 620px;   
  }