<br><br><br><br>
   
  <div  >
        <h1>List of Users</h1>
            <div class="content">
              <!-- <table style="text-align: center; width: 100%;" >
                <tr style="font-size:x-large;">
                  <td>Name</td>
                  <td>Email</td>
                  <td colspan="2" style="text-align: center;">Status</td>
                </tr><br>
                <tr *ngFor="let users of userData">
                  <td>{{users.Name}}</td>
                  <td>{{users.EmailId}}</td>
                  <td>Active</td>
                  <td><a routerLink="/admin/users/manageusers">Manage</a></td>
                </tr> 
                    
              </table> -->
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let users of userData">
                    
                    <td>{{users.Name}}</td>
                    <td>{{users.EmailId}}</td>
                    <td *ngIf="!users.IsLocked">Active</td>
                    <td *ngIf="users.IsLocked">InActive</td>
                    <td *ngIf="!users.IsLocked"><button class="btn btn-danger" (click)="manageUser(users)" >Delete</button></td>
                    <td *ngIf="users.IsLocked"><button class="btn btn-success" (click)="manageUser(users)" >Activate</button></td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
  
    
  </div>
  
  <!-- </div> -->