
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" routerLink ="/home">Shiksha</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a class = "nav-link" routerLink ="/admin/dashboard">DashBoard</a>
      </li>
      <li class="active">
        <a class = "nav-link" routerLink ="/home">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Modules
        </a> 
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink ="/admin/modules/managesubjects">Manage Subjects</a>
          <a class="dropdown-item" routerLink ="/admin/modules/addsubject">Add Subject</a>
        </div>
      </li>  
      <li class="active">
        <a class = "nav-link" routerLink ="/admin/users">Users</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Exams
        </a> 
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink ="/admin/exam/results">Results</a>
          <!-- <a class="dropdown-item" routerLink ="">Set Paper Format</a> -->
        </div>
      </li>
      <li class="active">
        <a class = "nav-link" routerLink ="/admin/feedback">Feedback</a>
      </li>
      <li class="active">
        <a class = "nav-link" routerLink ="/admin/manageprofile">Manage Profile</a>
      </li> 
    </ul> 
    <ul style="padding-left: 532px;">
      <div>
       <img src="assets/images/avt1.jpg" alt="Avatar" class="avatar" >
      </div>
    </ul>
    <ul class="nav navbar-right">
        <li>
            <a class="nav-link" routerLink="/login">Logout</a>
        </li>
    </ul>
     
 
  </nav> 

<br><br><br><br>
 
<div class="bg-img">
  <h1>Edit Subject</h1>
 
  <div class="content">        
    <form #myFrom ="ngForm" (ngSubmit)="register(myFrom)"> 
       <table style="width: 100%;">
           <tr>
               <td style="text-align: center;">
                <b>Subject Name</b>
               </td>
               <td>
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="subject to be added">
                  </div>           
               </td>
           </tr>
           <tr>
            <td style="text-align: center;">
             <b>Duration</b>
            </td>
            <td>
             <div class="form-group">
                 <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="mm:ss">
               </div>           
            </td>
        </tr>
           <tr>
                <td style="text-align: center;">
                 <b>Status</b>
               </td>
               <td>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Active</label>
                  </div>        
               </td>
           </tr><br>
           <tr>
               <td colspan="2" style="text-align: center;">
                <button type="submit" class="btn btn-success">Update</button>
               </td>
           </tr>

       </table>
     </form>
    </div>

</div>

  <router-outlet></router-outlet>
  
  <div class="footer bg-dark">
      <div class="footer-copyright text-center py-2">© 2020 Copyright
        <a routerLink="/home">Shiksha.kdac.org</a>
      </div> 
  </div>
  
  
 