
  
<br><br><br><br>

<div class="bg-img">
  <h1>Admin's feedback page</h1>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Feedbacks</th>
              <!-- <th>Action</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let users of userData" routerLink="/admin/feedback/viewfb/{{users.FId}}" >
              <td *ngIf="!users.T_Users.IsLocked">{{users.T_Users.Name}}</td>
              <td *ngIf="!users.T_Users.IsLocked">{{users.T_Users.EmailId}}</td>
              <td *ngIf="!users.T_Users.IsLocked"><a routerLink="/admin/feedback/viewfb/{{users.FId}}">View Feedback</a></td>
            </tr>
            
          </tbody>
        </table>
      </div>

