<br><br><br><br>

<h2>Exam Started</h2>

<!-- <script>
    function examTime(){
    timeout=window.setTimeout(showScore,5000)
    }
    function showScore(){
      alert('Your score is')
    }

    // setTimeout(function(){ alert("Hello"); }, 3000);
  
  </script>   -->


<div style="padding-left: 80%;">
    <span>
        Timer is here
    </span>
</div>

<div align="center" style="height: 100%; width:90%;padding-left: 100px;" >
    <br><br>
   <form #myForm="ngForm" (ngSubmit)="answers(myForm)">
    <table border="1" class="table table-striped table-hover">
        <tbody *ngFor="let q of Subjpaper;index as i">
            <tr >
                <td colspan="2">
                   {{i+1}}.{{q.Question}}
                </td>              
            </tr> 
            <tr>
             <!-- <td>
                    <input type="radio" ngModel name="ans{{q.QueId}}" value="{{q.Opt1}}"> {{q.Opt1}}<br>
                    <input type="radio" ngModel name="ans{{q.QueId}}" value="{{q.Opt2}}"> {{q.Opt2}}<br>
                    <input type="radio" ngModel name="ans{{q.QueId}}" value="{{q.Opt3}}"> {{q.Opt3}}<br>
                    <input type="radio" ngModel name="ans{{q.QueId}}" value="{{q.Opt4}}"> {{q.Opt4}}
                    
                    <a  class="btn btn-large btn-block btn-primary" role="button" style="width: 100px;">Save</a>
                    
                </td>  -->

                
             <td>
                <input type="radio" ngModel name="{{i+1}}" value="{{q.Opt1}}"> {{q.Opt1}}<br>
                <input type="radio" ngModel name="{{i+1}}" value="{{q.Opt2}}"> {{q.Opt2}}<br>
                <input type="radio" ngModel name="{{i+1}}" value="{{q.Opt3}}"> {{q.Opt3}}<br>
                <input type="radio" ngModel name="{{i+1}}" value="{{q.Opt4}}"> {{q.Opt4}}
                
                <!-- <a  class="btn btn-large btn-block btn-primary" role="button" style="width: 100px;">Save</a> -->
                
            </td>
            </tr>
        </tbody>

             <tr>
                 <td colspan="2" align="center">
                    <button type="submit" class="btn btn-large btn-block btn-success" style="width: 100px;">Submit</button>
                </td>
             </tr>
    </table>
   </form>
    
</div>

