<br><br><br>


<div class="bg-img">
  <br>
 <h1 style="color: white; padding-left: 20px;">Admin's profile mgmnt</h1>

 <div class="content">        
    <form #myFrom ="ngForm" (ngSubmit)="update(myFrom.value)"> 
       <label for="Name"><b>Name</b></label>
       <input [(ngModel)]="userObj.Name" type="text"  name="Name" required class="form-control" >
   
       <label for="EmailId"><b>Email</b></label>
       <input [(ngModel)]="userObj.EmailId" readonly type="email"  name="EmailId" required class="form-control" ><br>
       
       <label for="MobileNo"><b>Mobile No</b></label>
       <input [(ngModel)]="userObj.MobileNo" readonly type="number"  name="MobileNo" required class="form-control" ><br>

       <label for="Password"><b>Current Password</b></label>
       <input  ngModel type="password" name="Password" required class="form-control" >
       
       <label for="Password"><b>New Password</b></label>
       <input  ngModel type="password" name="NewPassword" required class="form-control" >
     
       <label for="Password"><b>Confirm Password</b></label>
       <input ngModel type="password" name="CnfPassword" required class="form-control" > <br>
       <div style="padding-left: 450px;">
          <button type="submit" class="btn btn-success">Submit</button>
       </div>
       
     
         <span>
             {{message}}
         </span>
</form>
  
</div>
</div>