
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" routerLink ="/home">Shiksha</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a class = "nav-link" routerLink ="/admin/dashboard">DashBoard</a>
      </li>
      <li class="active">
        <a class = "nav-link" routerLink ="/home">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Modules
        </a> 
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink ="/admin/modules/managesubjects">Manage Subjects</a>
          <a class="dropdown-item" routerLink ="/admin/modules/addsubject">Add Subject</a>
        </div>
      </li> 
      <li class="active">
        <a class = "nav-link" routerLink ="/admin/users">Users</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Exams
        </a> 
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink ="/admin/exam/results">Results</a>
          
        </div>
      </li>
      <li class="active">
        <a class = "nav-link" routerLink ="/admin/feedback">Feedback</a>
      </li>
      <li class="active">
        <a class = "nav-link" routerLink ="/admin/manageprofile">Manage Profile</a>
      </li> 
    </ul> 
    <ul style="padding-left: 532px;">
      <div>
       <img src="assets/images/avt1.jpg" alt="Avatar" class="avatar" >
      </div>
    </ul>
    <ul class="nav navbar-right">
        <li>
            <a class="nav-link" routerLink="/login">Logout</a>
        </li>
    </ul>
     
 
  </nav> 

<br><br><br><br>
 
<!-- <div class="bg-img"> -->
  <h1>Manage Subjects</h1>

  <div class="content" >        
    <table class="table">
      <thead>
        <tr>
          <th>Subject Id</th>
          <th>Subject Name</th>
          <th>Status</th>
          <th colspan="3" style="text-align: center;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sub of subjects">
          <td scope="row">{{sub.SubId}}</td>
          <td>{{sub.SubName}}</td>
          <td>Active</td>
          <td><button class="btn btn-primary" routerLink="/admin/modules/managesubjects/manageque">Manage Question</button></td>
          <td><button class="btn btn-success" routerLink="/admin/modules/managesubjects/edit">Edit</button></td>
          <td><button class="btn btn-danger" routerLink="">Delete</button></td>
        </tr>
      </tbody>
    </table>
    </div>

<!-- </div> -->

  
 