
  
<br><br><br><br>
 
<!-- <div class="bg-img"> -->
  <h1>Manage Subjects</h1>

  <div class="content" >        
    <table class="table">
      <thead>
        <tr>
          <th>Subject Id</th>
          <th>Subject Name</th>
          <th  style="text-align: center;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sub of subjects">
          <td scope="row">{{sub.SubId}}</td>
          <td>{{sub.SubName}}</td>
          
          <td  style="text-align: center;"><button class="btn btn-primary" routerLink="/admin/modules/managesubjects/manageque/{{sub.SubId}}">Manage Question</button>
          <button class="btn btn-danger" (click)="deleteSub(sub.SubId)">Delete</button></td>
        </tr>
      </tbody>
    </table>
    </div>

<!-- </div> -->

  
 